<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel='stylesheet' href='/stylesheets/createStyle.css' />
    </head>

    <body>
    
    <br>

    <div id="setTest"></div>

    <div id="createStatus">
        <div id="greenStatus"><strong>Success!</strong> Data successfully saved!</div>
        <div id="redStatus"><strong>Error!</strong> Claim number already taken. </div>
    </div>
    <p></p>
    <div id="pagewrapper">
        <form id="createform">
            Username:<br>
            <input id="claimnumber" type="text" name="claimnumber"><br><br>
            First Name:<br>
            <input id="firstname" type="text" name="firstname"><br><br>
            Last Name:<br>
            <input id="lastname" type="text" name="lastname"><br><br>
            Email:<br>
            <input id="email" type="text" name="email"><br><br>
            Date:<br>
            <input id="date" type="text" name="date"><br><br>
            Age:<br>
            <input id="age" type="text" name="age"><br><br>
            <input type="submit" value="Submit" id="submitBtn">
            <input type="submit" value="Close" id="closeModal">
        </form>

    </div>

    </body>

    <!-- ********Scripts******** -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="javascripts/editController.js" type="text/javascript"></script>

</html>
