
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <% include navbar.ejs %>

  <div id="test123"></div>

  <br>
    <div id="wrapper">
      <h2>List of users</h2>
        <div id="dialog-modal"></div>
        <button id="modal-opener">Create!</button>
        <p> </p>

        <div id="sortBy">
          <table>
            <thead>
              <th id="sortUser">Username</th>
              <th id="sortFirst">First Name</th>
              <th id="sortLast">Last Name</th>
              <th id="sortEmail">Email</th>
              <th id="sortDate">Date</th>
              <th id="sortAge">Age.</th>
            </thead>
          </table>
        </div>

        <div id="claimsList">
          <table>
          <!--
          -->
          </table>
        </div>
    </div>
  </body>

  <!-- ********Scripts******** -->

  <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
  <script>
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyCBLiQRYc7EX4iMgqnWTf3H4WFjF4DfXfw",
          authDomain: "usersite-11ad7.firebaseapp.com",
          databaseURL: "https://usersite-11ad7.firebaseio.com",
          storageBucket: "usersite-11ad7.appspot.com",
          messagingSenderId: "968441130185"
      };
      firebase.initializeApp(config);
  </script>
  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="javascripts/indexController.js" type="text/javascript"></script>
</html>
